[submodule "bash/.bash/git-aware-prompt"]
	path = bash/.bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/autoload"]
	path = vim/.vim/autoload
	url = https://github.com/junegunn/vim-plug
